body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: #333;
}

.menu {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
}
